html {
  scroll-behavior: smooth;
}

body {
  background-color: #ecf0f6;
  margin: 0;
}

h1 {
  font-style: italic;
  font-family: "Roboto_bold", Arial, Helvetica, Geneva, sans-serif;
  font-size: 45px;
}

h2 {
  font-family: "Roboto_bold", Arial, Helvetica, Geneva, sans-serif;
  font-size: 35px;
}

.header {
  height: 100px;
  margin: 0;
  padding: 20px 0 0 20px;
  background-color: white;
  width: 100%;
}

#navbar {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: white;
  height: 48px;
}

.navbar-space {
  height: 48px;
}

.navbar-fixed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}

.navbar-item {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 5px;
  text-align: center;
  position: relative;
  color: #353b47;
  font-family: "Roboto_light", Arial, Helvetica, Geneva, sans-serif;
  font-size: 13px;
  text-decoration: none;
  
}

.navbar-item:hover {
  background-color: #f6f8fa;
}

.navbar-item.active {
  font-family: "Roboto_bold", Arial, Helvetica, Geneva, sans-serif;
  background-color: #5c9bfa;
  color: white
}

.navbar-item.active::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8.5px 0 8.5px;
  border-color: #5c9bfa transparent transparent transparent;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 9px);
}

.section {
  padding-top: 50px; 
  padding-left: 50px;
}

#id1 {
  height: 600px;
  background-color: palevioletred;
}

#id2 {
height: 600px;
  background-color: cyan;
}

#id3 {
  height: 600px;
  background-color: purple;
}